<h1><%= @num_dice %>d<%= @num_sides %></h1>

<p><a href="/process_roll/<%= @num_dice %>/<%= @num_sides %>">Roll Again</a> | <a href="/">Go back home</a></p>

<ol>
<% @rolls.each do | a_roll | %>
  <li>
    <em>Result:</em> <strong><%= a_roll %></strong>
  </li>
<% end %>
</ol>
